:root {
    --primary: #915FD7;
    --secondary: #A361FF;
    --base: #D9D9D9;
    --outline: #C0C0C0;
    --gray: #888888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

p {
    font-size: 16px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

li > a {
    color: var(--gray);
}

body {
    background-color: #fff;
}

header {
    max-width: 1801px;
    width: 1801px;
    margin: 26px auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 201px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-weight: 600;
}

.main-header {
    width: 836px;
    height: 83px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    border-radius: 20px;
}

.search {
    position: relative;
    width: 609px;
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    padding-right: 17px;
}

.search input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    padding: 17px 27px;
}

.search input::placeholder {
    color: var(--outline);
}

.search label {
    display: none;
}

.search-icon {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 62px;
    height: 53px;
}

.cart img {
    width: 32px;
    height: 32px;
}

.cart p {
    color: #fff;
    font-weight: 500;
}

.burger {
    width: 39px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger span {
    background-color: #fff;
    width: 100%;
    height: 5px;
    border-radius: 20px;
}

.buttons {
    width: 234px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.buttons > * {
    text-decoration: none;
}

.login {
    color: black;
    display: flex;
    align-items: center;
}

.signin {
    color: #fff;
    background-color: #A361FF;
    width: 149px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.3s ease;
}

.signin:hover {
    background-color: #ab71fc;
}

.product-picture {
    width: 640px;
    height: 640px;
    background-color: var(--base);
    border-radius: 30px;
    border: var(--outline) solid 3px;
    position: relative;
}

.product-picture button {
    background: none;
    border: none;
}

.main-part {
    height: 100%;
    width: 100%;
    padding: 40px 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arrows {
    display: flex;
    justify-content: space-between;
}

.variants {
    margin: 0 auto;
    width: 119px;
    height: 18px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

input[type=checkbox] {
    visibility: hidden;
    position: absolute;
}

input[type=checkbox] + label:before {
    height: 18px;
    width: 18px;
    content: "";
    border-radius: 30px;
    margin-right: 7px;
    display: inline-block;
    border: 3px solid var(--gray);
    vertical-align: baseline;
    transition: all 0.3s ease;
}

input[type=checkbox]:checked + label::before {
    background-color: var(--outline);
}

.product {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.main > a {
    color: gray;
    width: 98px;
    height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
}

.settings {
    padding: 35px 31px;
    background-color: var(--base);
    max-width: 424px;
    border-radius: 20px;
}

.extend {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: none;
    border: none;
    color: var(--gray);   
}

.hidden {
    display: none;
}

.about {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    margin-left: 86px;
}

.path {
    margin-bottom: 20px;
    color: var(--gray);
}

.about p {
    color: var(--gray);
}

.about h2 {
    margin-bottom: 23px;
}

.desc {
    margin-bottom: 50px;
} 

.about-product {
    display: inline-flex;
}

.main {
    margin: 0 203px 100px 100px;
}

.buy-buttons {
    width: 291px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.dot {
    color: var(--gray)
}

.line {
    text-decoration: line-through;
    color: var(--gray);
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 13px;
}

.add-to-cart,
.buy-now {
    width: 100%;
    height: 44px;
    font-size: 16px;
    border: none;
}

.add-to-cart {
    color: var(--primary);
    background: none;
}

.buy-now {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    color: #fff;
    border-radius: 20px;
}

.ratings {
    width: 100%;
    color: var(--gray);
    display: flex;
    margin-top: 27px;
    align-items: center;
    margin-bottom: 89px;
}

.starred {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    margin-right: 32px;
}

.num-of-rate {
    display: inline-flex;
}   

.num-of-rate p {
    display: inline-flex;
    width: 80px;
    margin-left: 7px;
    font-size: 16px;
}

.enjoy {
    display: flex;
    flex-direction: column;
}

.enjoy h2{
    text-align: center;
}

.game-images {
    display: flex;
    justify-content: space-between;
    gap: 9px;
    margin: 41px 0 71px;
    
}

.imag {
    width: 91px;
    height: 131px;
    background-color: var(--base);
    border-radius: 15px;
    border: 3px solid var(--outline);
}

.more {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.more a {
    color: var(--gray);
    margin-right: 6px;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(/fonts/SF-Pro-Display-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(/fonts/SF-Pro-Display-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(/fonts/SF-Pro-Display-Semibold.otf);
    font-weight: 600;
}