:root {
    --primary: #915FD7;
    --secondary: #A361FF;
    --base: #D9D9D9;
    --outline: #C0C0C0;
    --gray: #888888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

p {
    font-size: 16px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

li > a {
    color: var(--gray);
}

body {
    background-color: #fff;
}

header {
    max-width: 1801px;
    width: 1801px;
    margin: 26px auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 201px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-weight: 600;
}

.main-header {
    width: 836px;
    height: 83px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    border-radius: 20px;
}

.search {
    position: relative;
    width: 609px;
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    padding-right: 17px;
}

.search input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    padding: 17px 27px;
}

.search input::placeholder {
    color: var(--outline);
}

.search label {
    display: none;
}

.search-icon {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 62px;
    height: 53px;
}

.cart img {
    width: 32px;
    height: 32px;
}

.cart p {
    color: #fff;
    font-weight: 500;
}

.burger {
    width: 39px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger span {
    background-color: #fff;
    width: 100%;
    height: 5px;
    border-radius: 20px;
}

.buttons {
    width: 234px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.buttons > * {
    text-decoration: none;
}

.login {
    color: black;
    display: flex;
    align-items: center;
}

.signin {
    color: #fff;
    background-color: #A361FF;
    width: 149px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.3s ease;
}

.signin:hover {
    background-color: #ab71fc;
}

.filters {
    width: calc(100% - 114px);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px auto;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 76px;
}

.row > a {
    transition: 0.3s ease;
}

.row > a:hover {
    transform: scale(1.05);
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    margin: 0 57px;
}

.product {
    width: 300px;
    height: 486px;
    background-color: var(--base);
    border: solid 3px var(--outline);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.product-picture {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: var(--base);
    border-radius: 30px;
    border-bottom: 3px solid var(--outline);
}

.product-picture p {
    position: absolute;
    left: 195px;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    width: 90px;
    height: 44px;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-btns {
    width: 259px;
    height: 155px;
    margin: 10px 21px 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lower {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 17px;
}

.price {
    width: 72px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    font-size: 24px;
}

.rating {
    width: 148px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating p {
    color: var(--gray);
}

.buy {
    display: flex;
    justify-content: space-between;
}

.buy-btn {
    width: 196px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A361FF;
    border: none;
    border-radius: 40px;
    transition: 0.3s ease;
}

.buy-btn p {
    color: #fff;
}

.cart-btn {
    border: none;
    background-color: var(--secondary);
    border-radius: 40px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.buy-btn:hover {
    background-color: #ab71fc;
}

.cart-btn:hover {
    background-color: #ab71fc;
}

.cart-btn img {
    width: 24px;
    height: 24px;
}

footer {
    position: relative;
    width: 1709px;
    height: auto;
    margin: 100px auto 0;
    border-top: 2px var(--outline) solid;
}

.upperfooter {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 31px;
    width: 201px;
    margin-right: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-h1 {
    font-size: 32px;
    color: #000;
}

.footer-sections {
    display: flex;
    flex-wrap: wrap;
    width: auto; /* Изменил с 100% на auto */
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 38px;
    width: 129px;
    margin-right: 130px;
}

.horizontal-container {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    gap: 130px;
    margin-right: 130px;
}

.section-long {
    margin-top: 38px;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
}

.section h1 {
    width: 150px;
    font-size: 24px;
    text-align: center;
    color: #000;
    border-bottom: 3px solid #000;
    margin-bottom: 38px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li a {
    color: #888888;
    font-size: 12px;
    text-decoration: none;
}

.section-long .column {
    display: flex;
    flex-direction: column;
}

.section-long .columns-container {
    display: flex;
    gap: 100px;
}

.section-long h1 {
    width: 350px;
    font-size: 24px;
    border-bottom: #000 solid 3px;
    margin-bottom: 38px;
    text-align: center;
}

.underfooter {
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
    margin-bottom: 38px;
    font-size: 12px;
    color: #888;
}

.underfooter a {
    color: #888;
    text-decoration: none;
}